
.unchecked-circle{
    text-align: center;
}
.checked-circle {
    background: url(src/assets/icon_check_mark.png);
    background-position: 11px 0px;
    background-size: 60%;
    background-repeat: no-repeat;
    width: 35px;
    margin: auto;
    text-align: center;
}

.check-circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #002C77;
    display: inline-block;
    position: relative;
    top: 5px;
}
.premium-container{
    border-top: 5px solid;
    background-color: #38D430;
    margin-top: 15px;
}