
.unchecked-circle{
    text-align: center;
}
.checked-circle {
    background: url(src/assets/icon_check_mark.png);
    background-position: 11px 0px;
    background-size: 60%;
    background-repeat: no-repeat;
    width: 35px;
    margin: auto;
    text-align: center;
}

.check-circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #002C77;
    display: inline-block;
    position: relative;
    top: 5px;
}
.premium-container{
    border-top: 5px solid;
    background-color: #38D430;
    margin-top: 15px;
}
.coller {
    background-image: url(src/assets/collar.png);
    background-size: cover;
    width: 110px;
    height: 110px;
    color: #FFFFFF;
    font-size: 14px;
    position: absolute;
    top: 21px;
    left: 0px;
    right: 0px;
    padding-top: 45px;
    font-weight: bold;
}
.quote-card-overlay {
    border-top: solid 8px #38D430;
    background-color: #D5F3CF;
    height: 320px;
    cursor: pointer;
}
.quote-card-overlay> .bottom-div {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 15px;
}
.quote-card {
    border-top: solid 8px #E9E9E9;
    height: 320px;
    
}
 .coller::before {
    display: inline-block;
    content: '';
    height: 8px;
    position: absolute;
    width: 23px;
    top: 20px;
    left: 25px;
    background-color: #38D430;
}